<section id="differences">
  <div>
    <div>
      <div>
        <img src="/img/icons/accessibility.png" alt="Icone de acessibilidade" />
      </div>
      <h3>Acessibilidade</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.s.</p>
    </div>
    <div>
      <div>
        <img src="/img/icons/dolar.png" alt="Icone de cifrão" />
      </div>
      <h3>Economia</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.s.</p>
    </div>
    <div>
      <div>
        <img src="/img/icons/dolar.png" alt="Icone de cifrão" />
      </div>
      <h3>Economia</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.s.</p>
    </div>
    <div>
      <div>
        <img src="/img/icons/cart.png" alt="Icone de pagamentos" />
      </div>
      <h3>Pagamentos</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.s.</p>
    </div>
    <div>
      <div>
        <img src="/img/icons/map.png" alt="Icone de localização" />
      </div>
      <h3>Acessibilidade</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.s.</p>
    </div>
  </div>
</section>
