<main id="hero">
  <div>
    <div>
      <h1>
        <span>Bem vindos(as)!</span
        ><img src="/img/bistrobar.svg" alt="Bistrô Bar" />
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur. Suspendisse pellentesque
        pharetra facilisis vel pulvinar integer eget egestas. Sagittis rhoncus
        pretium eu ut.
      </p>
      <div>
        <a class="menu" href="#">Ver Menu</a>
        <a class="offers" href="#">Ofertas</a>
      </div>
    </div>
    <form class="form" action="">
      <h3>Reserve uma mesa</h3>
      <div>

          <label for="name">Seu nome</label>
          <input type="text" name="name" id="name" />
          <label for="email">Seu e-mail</label>
          <input type="email" name="email" id="email" />
          <label for="people">Quantidade de pessoas</label>
          <select name="people" id="people">
              <option value="select">Selecione</option>
              <option value="2">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">+5</option>
            </select>
      <label for="date">Data</label>
      <input type="date" id="date" name="date" />
      <label for="time">Hora</label>
      <input type="time" id="time" name="time" />
      <button>Reservar agora</button>
    </div>
    </form>
  </div>
</main>
