<header id="header">
  <div>
    <a href="/"><img src="/img/bistrobar.svg" alt="Logo Bistrô Bar" /></a>
    <nav class="links-menu">
      <div>
        <div>
          <img src="/img/bistrobar.svg" alt="Logo Bistrô Bar" />
          <button class="menu-close">
            <img src="/img/icons/btn-menu-close.png" alt="Menu alternador" />
          </button>
        </div>
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contato</a></li>
          <li class="reserve"><a href="#">Reserva</a></li>
        </ul>
      </div>
    </nav>
    <button>
      <img class="menu-open" src="/img/icons/btn-menu-open.png" alt="Menu alternador" />
    </button>
  </div>
</header>
