html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  color: var(--color-text);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black-80);
}


button{
  cursor: pointer;
}