:root {
  --color-black: #0c0e0f;
  --color-black-80: #12191f;
  --color-black-50: #24292e;
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-green-80: #419d78;
  --color-green-100: #03ff9a;
  --color-text: #40576b;
  --color-border: rgba(255, 255, 255, 0.05);
}
